body {
	--body-max-width: 1080px;
	--body-min-width: 640px;

	--main-color: #d6d6d6;
	--main-alter-color: #555877;
	--body-color: #867440;
	--header-color: #555877;
	--footer-color: var(--header-color);
	--auth-color: var(--main-color);

	--main-shadow: -3px 3px 7px rgba(0,0,0,0.62);	

	--main-font-color: rgba(0, 0, 0, .85);
	--link-color: var(--main-font-color);
	--main-font-alter-color: rgba(200, 200, 230, .85);

	box-sizing: border-box;
}

.cf:after {
	display: table;
	content: "";
	clear: both;
}

.p20,
.p30,
.p40,
.p48,
.p50 {
	float: left;
}

.p20 {
	width: 20%;
}

.p30 {
	width: 30%;
}

.p40 {
	width: 40%;
}

.p48 {
	width: 48%;
}

.p50 {
	width: 50%;
}

.right {
	float: right;
}

.row {
	clear: both;
}

.hide {
	display: none;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

li, dt, dd {
	margin: 0;
	padding: 0;

	list-style: none;
}

ul, dl {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

body {
	max-width: var(--body-max-width);
	min-width: var(--body-min-width);

	margin: auto;

	background: var(--body-color);

	color: var(--main-font-color); 
	font-family: sans-serif;
}

body header,
body footer {
	margin: auto;
}

body header {
	background: var(--header-color);
}

body footer {
	padding: 10px;

	background: var(--footer-color);
}

main {
	margin: auto;

	background: var(--main-color);
}

main > h1 {
	margin-top: 0;
	padding-top: 20px;
}

section {
	padding: 20px 20px;
}

section:nth-child(even) {
	background: var(--main-alter-color);
	color: var(--main-font-alter-color);
}

/* >Логотип */
.logo {
}

.logo img {
	width: 300px;
}
/* <Логотип */

/* >Блок регистрации */
.authentication-box {
	width: 80%;

	float: right;

	background: var(--auth-color);

	text-align: center;

	box-shadow: var(--main-shadow);
}

.authentication-box div {
	display: inline-block;
}

.authentication-box div:hover {
	background: #eeffac;
	transition: background .6s ease;
}

.authentication-box a {
	display: inline-block;

	padding: 10px 20px;
}
/* <Блок регистрации */

/* >Навигация */
header nav {
	clear: both;
}

.main-menu {
	margin: auto;

	text-align: center;

	border-top: 1px solid rgba(.5, .5, .5, .5);
}

.main-menu li {
	display: inline-block;
}

.main-menu a {
	display: inline-block;

	padding: 10px;

	color: var(--main-font-alter-color);
	font-weight: bold;
}

.main-menu a:hover {
	background: #eeffac;
	transition: background .6s ease;

	color: var(--main-font-color);
}
/* <Навигация */

/* >Footer */
.copy {
	float: right;
}
/* <Footer */

/* >Список услуг */
#services form {
	margin: auto;

	text-align: center;
}

#services input {
}

#services .services-list {
	margin-left: 30px;
}

#services .services-list li {
	list-style: disc;
}

#services .services-list li a {
	font-size: 1.5rem;
	text-decoration: underline;
}
/* <Список услуг */

/* <Список новостей */
#news article {
	box-sizing: border-box;

	box-shadow: var(--main-shadow);
}

#news article h1 {
	text-align: left;
	font-size: 1.1rem;
}

#news article h1 a:hover {
	color: var(--main-font-alter-color);
}

#news img {
	float: left;
	padding-right: 10px;
}

#news .description {
}

#news .row {
	margin: 10px 0;
}
/* >Список новостей */

/* >Список ЧАВо */
#faq .faq-list {
	margin-left: 30px;
}

#faq .faq-list dt {
	margin-top: 10px;

	font-size: 1.5rem;
	text-decoration: underline;
	cursor: pointer;
}

#faq .faq-list dt:before {
	content: "-";
}

#faq .faq-list dd {
	margin-left: 20px;
}
/* <Список ЧАВо */
